In [2]:
import pandas as pd
from sklearn.datasets import load_diabetes

In [3]:
data=load_diabetes()

In [7]:
data.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

In [9]:
Diebetes_df=pd.DataFrame(data=data.data,
    columns=data['feature_names'])
Diebetes_df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064

In [10]:
x=pd.DataFrame(data=data.data,
    columns=data['feature_names'])

In [12]:
y=pd.DataFrame(data.target)
y

         0
0    151.0
1     75.0
2    141.0
3    206.0
4    135.0
..     ...
437  178.0
438  104.0
439  132.0
440  220.0
441   57.0

[442 rows x 1 columns]

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

In [16]:
from sklearn.linear_model import LinearRegression,Ridge,Lasso,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error
from sklearn.svm import SVR

In [18]:
Model_1=LinearRegression()
Model_1.fit(X_train,y_train)
r2_score(y_train,Model_1.predict(X_train))

0.5279193863361498

In [19]:
Model_2=Ridge()
Model_2.fit(X_train,y_train)
r2_score(y_train,Model_2.predict(X_train))

0.4424027835503953

In [20]:
Model_3=Lasso()
Model_3.fit(X_train,y_train)
r2_score(y_train,Model_3.predict(X_train))

0.3646309911295581

In [21]:
Model_4=ElasticNet()
Model_4.fit(X_train,y_train)
r2_score(y_train,Model_4.predict(X_train))

0.008901600088515704

In [22]:
Model_5=SVR()
Model_5.fit(X_train,y_train)
r2_score(y_train,Model_5.predict(X_train))

C:\Users\91934\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1406: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.1668037716306